@{
    ViewBag.Title = "Home Page";
}
<br/>
<button id="randomWakeUp">Random!</button>
<br/>
@{
    var size = 10;
}
<table id="cells" class="table table-bordered">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @for (var x = 0; x < size; x++)
            {
                <th>@(x+1)</th>
            }
        </tr>
  </thead>
    <tbody>
    @for (var y = 0; y < size; y++)
    {
        <tr>
            <th>@(y+1)</th>
            @for (var x = 0; x < size; x++)
            {
                <td>&nbsp;</td>
            }
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var cellular = $.connection.cellularHub;
            var wakeMeUp = function(x, y) {
                cellular.server.wakeMeUp(x, y);
            };
            cellular.client.addCellChange = function (x, y, value) {
                console.log("Changing state of " + x + "," + y + " to " + value);
                var table = $("table#cells tbody")[0];
                var cell = table.rows[y].cells[x+1];
                var $cell = $(cell);
                $cell.css('background-color', 'rgb(' + value + ',' + value + ',' + value + ')');
            };
            $.connection.hub.start().done(function () {
                $('#randomWakeUp').click(function () {
                    cellular.server.randomWakeUp();
                });
                /*
                var rows = $("table#cells tbody tr");
                rows.each(function (y) {
                    var items = rows.children("td");
                    items.each(function (x) {
                        console.log("Click! " + x + ";" + y);
                        $(this).click(wakeMeUp(x,y));
                    });                    
                });
                */
            });
        });
    </script>
}